@forward './slider';
@forward './about';
@forward './service';
// @forward './offer';
@forward './banner';
@forward './feature';
@forward './video';
@forward './cta';
@forward './funfact';
@forward './price';
@forward './testimonial';
@forward './sponsor';
@forward './gallery';
@forward './history';
// @forward './subscribe';
// @forward './count';
@forward './team';
@forward './faq';
@forward './contact';